@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #121212;
    align-items: center;
    overflow-x: hidden;
 }

 .code1 {
    background-color: #1e1e1e;
    border: 4px solid rgba(214, 208, 208, 0.3);
    height: 100px;
    width: 100%;
    text-align: center;
    display: table;
 }

code{
    vertical-align: middle;
    display: table-cell;
}
.text-center {
    color: #e2e2e2;
}

.annen {
     animation: move 4s linear infinite;
     background-image: linear-gradient(to right, #77f, #33d0ff, #25ffbb, #33d0ff, #77f);
     background-size: 200% auto;
     font: 600 40px/1 Helvetica;
     letter-spacing: 1px;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-top: -100px;
    display: flex;
    justify-content: center;
 }
 @keyframes move { to { background-position: 200% center; } }

 .slogan {
   color: white;
   display: flex;
   justify-content: center;
   margin-top: 20px;
 }


 header {
     margin-top: 10px;
     border-radius: 5px;
     border: 1px solid rgba(214, 208, 208, 0.3);
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(6.5px);
     -webkit-backdrop-filter: blur(6.5px);
     background-color: #1e1e1e;
     height: 120px;
 }


 .logo{
     margin-top: 2px;
     height: 110px;
     width: 110px;
     margin-left: -14px;
     margin: 3.5px 3px;
 }

 .menu {
     color: #e2e2e2;
     margin: 5px;
     position: relative;
     bottom: 65px;
     left: 50%;
 }

 .menu1{
     color: #e2e2e2;
     margin-right: 5px;
 }
 .menu2{
     color: #e2e2e2;
 }
 .menu3{
     color: #e2e2e2;
     margin-left: 5px;
 }
 .row {
    display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
 }
 .card {
     height: 425px;
     width: 300px;
     background: #1E1E1E;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(6.5px);
     -webkit-backdrop-filter: blur(6.5px);
     border: 1px solid rgba(214, 208, 208, 0.3);
     border-radius: 16px;
     color: #e2e2e2;
     margin: 10px;
     left: 20px;
     bottom: 20px;
 }

 .card-img-top{
     position: relative;
     top: 5px;
     right: -4px;
     height: 200px;
     width: 97%;
     border-radius: 10px;
     border: 1px solid rgba(214, 208, 208, 0.3);
     text-align: center;
 }

 .mb-5 {
    margin-left: 30px;
 }

 .menu {
     display: inline-block;
     padding: 10px 12px;
     color: #03e9f4;
     text-decoration: none!important;
     text-transform: uppercase;
     transition: 0.5s;
     overflow: hidden;
 }
 .menu:hover {
     background: #03e9f4;
     color: #050801;
     box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
     0 0 200px #03e9f4;
     -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
 }
 .menu:nth-child(1) {
     filter: hue-rotate(270deg);
 }
 .menu:nth-child(2) {
     filter: hue-rotate(110deg);
 }
 .menu span {
     position: absolute;
     display: block;
 }
 .menu:hover span:nth-child(1) {
     top: 0px;
     left: 0;
     width: 100%;
     height: 2px;
     background: linear-gradient(90deg, transparent, #03e9f4);
     animation: animate1 0.5s linear infinite;
 }
 @keyframes animate1 {
     0% {
         left: -100%;
     }
     50%,
     100% {
         left: 100%;
     }
 }
 .menu:hover span:nth-child(2) {
     top: -100%;
     right: 0;
     width: 2px;
     height: 100%;
     background: linear-gradient(180deg, transparent, #03e9f4);
     animation: animate2 0.5s linear infinite;
 }
 @keyframes animate2 {
     0% {
         top: -100%;
     }
     50%,
     100% {
         top: 100%;
     }
 }
 .menu:hover span:nth-child(3) {
     bottom: 0;
     right: 0;
     width: 100%;
     height: 2px;
     background: linear-gradient(270deg, transparent, #03e9f4);
     animation: animate3 0.5s linear infinite;
 }
 @keyframes animate3 {
     0% {
         right: -100%;
     }
     50%,
     100% {
         right: 100%;
     }
 }

 .menu:hover span:nth-child(4) {
     bottom: -100%;
     left: 0;
     width: 2px;
     height: 100%;
     background: linear-gradient(360deg, transparent, #03e9f4);
     animation: animate4 0.5s linear infinite;
 }
 @keyframes animate4 {
     0% {
         bottom: -100%;
     }
     50%,
     100% {
         bottom: 100%;
     }
 }


     /* PAGES */

.html {
    height: 500px;
    background: #1E1E1E;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(214, 208, 208, 0.3);
    border-radius: 16px;
    justify-content: center;
    align-items: center;
}
.kod1 {
    position: relative;
    top: 20px;
    right: -20px;
    color: #e2e2e2;
    background-color: #121212;
    width: 450px;
    height: 400px;
    font-family: consolas;
    word-wrap: normal;
    width: 95%;
    border: 4px solid rgba(214, 208, 208, 0.3);
}
.css {
    height: 500px;
    background: #1E1E1E;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(214, 208, 208, 0.3);
    border-radius: 16px;
    margin-top: 10px;
}

@media only screen and (min-width: 20px) and (max-width: 400px)  {
    .kod1 {
        position: relative;
        top: 20px;
        right: -14px;
        color: #e2e2e2;
        background-color: #121212;
        width: 450px;
        height: 400px;
        font-family: consolas;
        word-wrap: normal;
        width: 90%;
        border: 4px solid rgba(214, 208, 208, 0.3);
        font-size: 10px;
    }}

    /* hfdhffoghdoghofg */

    footer {
      border-radius: 5px;
      border: 1px solid rgba(214, 208, 208, 0.3);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.5px);
      -webkit-backdrop-filter: blur(6.5px);
      background-color: #1e1e1e;
      height: 75px;
      width: 100%!important;
      display: flex;
      justify-content: center;
  }
  footer div {
    margin-top: 12px;
    display: block;
    justify-content: center;
    width: 50px;
    border-radius: 9px 9px 0px;

    transition: all 1s ease;
  }
  footer div:hover {
background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
height: 49px;
text-decoration: none!important;
width: 190px!important;

  }

    footer div:hover .fab {
      position:relative;
      left: 3px!important;

    }
    footer div:hover .sss{
      position:relative;
      top: -10px!important;
      left: 58px;
      opacity: 1;
    }
  footer .fab {
    color: white;
    font-size: 50px;
    text-decoration: none!important;
  }
  .sss {
    text-decoration: none!important;
    color: #1e1e1e;
    opacity: 0;
    cursor: pointer;
    display: block;
    margin-top:-30px;
    margin-right: 90px;
    font-size: 20px;
  }
  .sss:hover {
    color: #1e1e1e;
  }


/* HEADERRRRR*/


.burger-wrapper {
  cursor: pointer;
}

#menyyy {
    width: 300px;
    height: 120px;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(-100rem);
    top: 0px;
    z-index: 0;
    transition: 0.5s;
    display: none;
}
.ham:hover ~ #menyyy {
    display:flex;
}


#menyAvPaa {
    display: none;
}

.ham.active ~ #meny {
    transform: translateX(0rem);
    display:block;
}

#burger {
    position: absolute;
    cursor: pointer;
    width: 4.5rem;
    height: 4.5rem;
    right: -30px;
    top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -30px;
    margin-right: -10px;
    border-radius: 80px;
        }
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:white;
  stroke-width:4;
  stroke-linecap:round;
}
.ham3 .top {
  stroke-dasharray: 40 130;
}
.ham3 .middle {
  stroke-dasharray: 40 140;
}
.ham3 .bottom {
  stroke-dasharray: 40 205;
}
.ham3.active .top {
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;
}
.ham3.active .middle {
  stroke-dashoffset: -102px;
}
.ham3.active .bottom {
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;
}
@media only screen and (min-width: 20px) and (max-width: 553px)  {
  header {
      margin-top: 10px;
      border-radius: 5px;
      border: 1px solid rgba(214, 208, 208, 0.3);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.5px);
      -webkit-backdrop-filter: blur(6.5px);
      background-color: #1e1e1e;
      height: 80px;
  }
  .wrapper .sidebar{
    background: #1e1e1e;
    position: fixed;
    top: 0;
    right: -225px;
    width: 225px;
    height: 550%!important;
    padding: 20px 0;
    transition: all 0.5s ease;
    border-radius: 5px;
    border: 1px solid rgba(214, 208, 208, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
}

  .logo{
      margin-top: 2px;
      height: 70px;
      width: 70px;
      margin-left: -14px;
      margin: 3.5px 3px;
  }
  .annen {
       animation: move 4s linear infinite;
       background-image: linear-gradient(to right, #77f, #33d0ff, #25ffbb, #33d0ff, #77f);
       background-size: 200% auto;
       font: 600 22px/1 Helvetica;
       letter-spacing: 1px;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       margin-top: -60px;
      display: flex;
      justify-content: center;
   }
   @keyframes move { to { background-position: 200% center; } }

   .slogan {
     font-size: 13px;
     color: white;
     display: flex;
     justify-content: center;
     margin-top: 10px;
   }
   .ham {
     cursor: pointer;
     -webkit-tap-highlight-color: transparent;
     transition: transform 400ms;
     -moz-user-select: none;
     -webkit-user-select: none;
     -ms-user-select: none;
     user-select: none;
     position: absolute;
     margin-top: 30px;
     right: 400px;
     z-index: 9;
   }
   #burger {
       position: absolute;
       cursor: pointer;
       width: 3.5rem;
       height: 3.5rem;
       right: -25px;
       top: 45px;
       display: flex;
       justify-content: space-between;
       flex-direction: column;
       margin-top: -39px;
       margin-right: -13px;
       border-radius: 80px;
           }
           }



           @media only screen and (min-width: 20px) and (max-width: 850px)  {

           body.active .çerçeve{
            opacity: 0;
            }}

      .body {
        transition: all 0.5s ease;
      }
     
      .wrapper .sidebar{
        background: #1e1e1e;
        position: fixed;
        top: 0;
        right: -225px;
        width: 225px;
        height: 370%;
        padding: 20px 0;
        transition: all 0.5s ease;
        border-radius: 5px;
        border: 1px solid rgba(214, 208, 208, 0.3);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.5px);
        -webkit-backdrop-filter: blur(6.5px);
        z-index: 2;
    }
    body.active .wrapper .sidebar{
      right: 0px;
    }
    
    body.active .wrapper .section{
      margin-right: 220px;
      width: 100%;
    }
    .body {
      transition: all 0.5s ease;
    }
    body.active .body{
      margin-right: 225px;
      width: calc(100% - 320px);
    }
    .wrapper .section{
      width:100%;
      margin-right: 0px;
      transition: all 0.5s ease;
    }
    
    .wrapper .section .top_navbar{
      background: #1e1e1e;
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0 30px;
      width: 100%;
    }
    .hamburger {
      width: 100%;
      z-index: 9999999999999999;
      position: relative;
      left: -60px;
      top: -14px;
    }
    .hamburger a{
      font-size: 28px;
      color: #f4fbff;
      position: relative;
      left: 10px;
    }
    .hamburger a:hover{
      color: #a2ecff;
    }
    .wrapper .sidebar .profile{
      margin-bottom: 30px;
      text-align: center;
      border: 1px solid rgba(214, 208, 208, 0.3);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.5px);
      -webkit-backdrop-filter: blur(6.5px);
      margin-top: -22px;
      border-radius: 5px 5px 0px 0px;
      height: 220px;
    }
    
    .wrapper .sidebar .profile img{
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 20px auto;
    }
    
    .wrapper .sidebar .profile h3{
      color: #ffffff;
      margin: 20px 0 5px;
    }
    
    .wrapper .sidebar .profile p{
      color: rgb(206, 240, 253);
      font-size: 14px;
    }
    .wrapper .sidebar ul li a{
      display: block;
      padding: 17px 30px;
      border: 1px solid rgba(214, 208, 208, 0.3);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.5px);
      -webkit-backdrop-filter: blur(6.5px);
      color: rgb(241, 237, 237);
      font-size: 16px;
      position: relative;
      top: -30px;
    }
    
    .wrapper .sidebar ul li a .icon{
      color: #dee4ec;
      width: 30px;
      display: inline-block;
    }

    h6 {
      color: #03e9f4;
      position: relative;
      top: 190px;
    }
